html {
    font-family: Verdana, Geneva, sans-serif;
    background-color: hsl(230, 30%, 98%);
    color: #272822;
    letter-spacing: 0.05em;
}

body {
    width: 90%;
    max-width: 700px;
    padding: 1em;
    margin: auto;
    line-height: 1.3em;
}

body>h1 {
    font-weight: 600;
    font-size: 1.3em;
}

body>p {
    margin-top: 1em;
}

a {
    color: #272822;
    text-decoration: none;
    border-bottom: #272822 1px solid;
}

ul {
    list-style: none;
}

li {
    margin: 0.4em;
    padding: 0.4em;
}

body>ul>li {
    font-weight: bold;
    background: hsl(60, 30%, 99%);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px 0px;
}

body>ul>li>ul {
    font-weight: normal;
}